RewriteEngine On

Options -Indexes
Options +FollowSymLinks

# Rewrite asset requests to "controller/assets/"
RewriteRule ^assets/(.*)$ controller/assets/$1  [QSA,L]

    # Do not rewrite asset requests
    RewriteCond %{REQUEST_URI} !^assets

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?request=$1 [NC,L]
